@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Dm Sans;
}

/* general css  */

.fb_flex,
.fb_blue_flex,
.fb_menu_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fb_font {
  color: #222;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02563rem;
}

a {
  text-decoration: none;
}

.fb_container {
  margin: 0 auto;
  padding: 1rem 6.25rem;
}

ul {
  margin-bottom: 0;
}

/* general css ends  */

/* header css starts  */

/* search css  */

.fb_search_field {
  width: 60%;
}

.fb_search_field_2 {
  width: 90%;
}

.fb_search_field .fb_custom_search {
  border-radius: 0.3125rem;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.55rem;
}

.fb_custom_search:focus {
  box-shadow: none;
  border: 1px solid #dcdcdc;
  box-shadow: none !important;
}

.fb_search_input inpot:focus {
  box-shadow: none;
}

.fb_custom_search::placeholder {
  color: #aaa;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02563rem;
}

.fb_search_field .fb_search_btn {
  border-radius: 0 5px 5px 0;
  background-color: #fe5c4d;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb_search_btn img {
  width: 15px;
  height: auto;
}

.fb_search_field .fb_search_btn {
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  background-color: #fe5c4d;
  border: none;
}

/* search css ends */

.fb_login_btn {
  border-radius: 0.3125rem;
  background: #fe5c4d;
  color: #fff;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
}

.fb_login_btn a {
  text-decoration: none;
  color: #fff;
}

.fb_login_btn:hover {
  border: 1px solid #fe5c4d;
  color: #fe5c4d;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.fb_club_wrapper {
  position: relative;
}

.fb_club_div {
  background-color: #fff;
  border-radius: 5px;
  height: 180px;
  width: 200px;
  overflow: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 100%;
  left: -106px;
  display: none;
  z-index: 1;
}

.fb_club_div ul {
  list-style: none;
  margin-left: -2rem;
}

.fb_club_div ul li {
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

.fb_club_div ul li:hover {
  background-color: #fe5c4d;
  color: #fff;
  cursor: pointer;
}

.fb_club:hover + .fb_club_wrapper .fb_club_div,
.fb_club_div:hover {
  display: block;
}

.fb_nav_menu ul {
  list-style: none;
  display: flex;
}

.fb_nav_menu ul li {
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1.125rem;
}
.fb_header_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fb_city {
  border: 1px solid transparent;
  margin-right: 1rem;
}

.fb_city span {
  width: 7rem;
}

.fb_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb_city_section {
  position: relative;
}

.city_div {
  display: none;
  position: absolute;
  top: 100%;
  right: 45%;
  z-index: 1;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  width: 61rem;
}

/* city search css  */

.fb_city_search_container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 0.5rem;
}

.fb_city_search_input {
  padding: 1rem;
  padding-left: 35px; /* Adjust as needed for icon */
  border: 1px solid #dcdcdc;
  border-radius: 0.3125rem;
  background-color: #fff;
  width: 100%;
  outline: none;
}

.fb_city_search_icon {
  position: absolute;
  top: 50%;
  left: 12px; /* Adjust as needed for icon position */
  transform: translateY(-50%);
}

.fb_detect {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dcdcdc;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  cursor: pointer;
  color: #fe5c4d;
}

.fb_detect span {
  color: #fe5c4d;
  font-weight: 600;
  cursor: pointer;
}

.fb_popular {
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fb_all_cities,
.fb_hide_cities {
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  color: #fe5c4d;
  cursor: pointer;
  display: block;
}

.fb_hide_cities {
  display: none;
  margin-bottom: 1rem;
}

.city_list_div {
  display: none;
  margin-bottom: 2rem;
  display: none;
}

.city_list_div ul {
  z-index: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  color: #aaa;
  font-family: DM Sans;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  height: 8rem;
  overflow-y: scroll;
  margin-top: 1rem;
}

.city_list_div ul li {
  margin-bottom: 1rem !important;
  text-transform: capitalize;
  cursor: pointer;
}

.fb_city_img img {
  cursor: pointer;
  margin-right: 0.5rem;
}

.fb_city_img {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

/* city search css ends */

/* header css ends */

/* header 2 css  */

.fb_blue_container {
  margin: 0 auto;
  padding: 1rem 6.25rem;
}

.fb_header_blue {
  background: #17479e;
}

.fb_blue_home {
  color: white;
}

.fb_nav_ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb_nav_ul li a {
  text-decoration: none;
  color: #fff;
}

.fb_nav {
  color: #fff;
  margin-left: 1rem;
  cursor: pointer;
  margin-bottom: -1rem;
}

.fb_nav_option {
  position: relative;
}
/* header 2 css ends */

/* sports div section css  */

.sports_div {
  position: absolute;
  top: 100%;
  left: 20%;
  z-index: 1;
  border-radius: 0.625rem;
  background: #fff;
  display: none;

  /* Card Shadow */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

.fb_sports:hover + .sports_div,
.sports_div:hover {
  display: block;
}

.sports_div ul li {
  text-transform: capitalize;
  color: #222 !important;
  margin-left: -2rem;
  margin-bottom: 1rem;
  width: 8rem;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
}

.sports_div ul li a {
  text-decoration: none;
  color: #222;
}
.sports_div ul {
  display: flex;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 23rem;
  width: 23rem;
  overflow: auto;
  margin-bottom: -1rem;
  list-style: none;
}

/* sports div section css ends */

/* fb blog section  */

.fb_latest_blog {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fb_latest {
  font-size: 2rem;
  font-weight: 700;
  font-family: Dm Sans;
  margin-bottom: 0.8rem;
}
.fb_read {
  color: #505050;
  font-size: 1rem;
}

.mobile_home_blog_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mobile_home_blog_img img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.mobile_home_date p:first-child {
  text-align: start;
  color: #aaa;
  font-family: DM Sans;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.mobile_home_date p:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #222;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  margin-top: 0.2rem;
}

.mobile_home_read {
  margin-left: 1rem;
  margin-top: 1.25rem;
  color: #222;
  font-family: DM Sans;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 0.06rem;
  border-bottom: 1px solid black;
  width: max-content;
  margin-bottom: 1.5rem;
}

.fb_blog_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  overflow: hidden;
}

.fb_blog_card {
  min-width: 21.375rem;
}

.fb_red_bg {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #fe5c4d;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.fb_grey_bg {
  background-color: #f4f4f4;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fb_arrow_click {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb_related_tags {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.fb_tag_list {
  margin-bottom: 2rem;
}

.fb_now {
  border-radius: 0.3125rem;
  background: #fe5c4d;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0.9rem;
  outline: none;
  border: 1px solid transparent;
}
.fb_now:hover {
  border: 1px solid #fe5c4d;
  color: #fe5c4d;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.fb_view {
  margin-top: 1.4rem;
  margin-bottom: 2.5rem;
}

/* fb blog section ends */

/* join section css  */

.fb_join_section {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #fe5c4d;
  border-radius: 0.625rem;
  margin-right: 6.25rem;
  margin-left: 6.25rem;
  margin-top: 2rem;
}

.box_1 {
  background: #dfdfdf;
  height: 1rem;
  width: 87%;
  margin: 0 auto;
}
.box_2 {
  background: #eaeaea;
  height: 1rem;
  width: 92%;
  margin: 0 auto;
}
.box_3 {
  background-color: #fff;
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fb_box_img img {
  margin-top: 1rem;
  height: 5rem;
  width: 5rem;
}

.fb_join_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fb_join_txt span:nth-child(1) {
  color: #272221;
  font-family: DM Sans;
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.fb_join_txt span:nth-child(2) {
  color: #222;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
}

.mobile_try_btn button {
  border-radius: 0.3125rem;
  background: #fe5c4d;
  padding: 0.6rem 0.9rem;
  color: #fff;
  outline: none;
  border: none;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.fb_search_field_2 .fb_search_btn {
  border-radius: 0 5px 5px 0;
  background-color: #fe5c4d;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.fb_search_btn img {
  width: 15px;
  height: auto;
}

.fb_search_field_2 .fb_search_btn {
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  background-color: #fe5c4d;
  border: none;
}

.tour_subscribe {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.fb_new_input::placeholder {
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

.fb_new_input:focus {
  box-shadow: none;
}

/* join now box css ends */

/* home top section  */

.mobile_home_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home_dsk_top_text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5%;
}

.mobile_home_image_container img {
  max-width: 100%;
  height: auto;
}

.mobile_home_top_black {
  background-color: #02030c;
}

.mobile_home_top {
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: block;
  margin-top: 3rem;
}

.mobie_home_search {
  flex: 1;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  margin-top: 0.8rem;
  width: 100%;
}

.side_popular_search {
  margin-bottom: 0.6rem;
}

.result_new_flex {
  margin-left: 2rem;
}

.mobile_home_background {
  background: #fffaf7;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.mobie_home_search input::placeholder {
  font-size: 0.8rem;
}

input[class="mobie_home_search_input"] {
  width: 100%;
  height: 100%;
  /* Set the height to 100% */
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  padding: 14px;
  outline: none;
  font-size: 16px;
}

.mobie_home_search_input:first-child {
  padding-right: 70px;
}

.mobile_home_search_text {
  background-color: #e73725;
  color: #fff;
  padding: 10px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_home_new_section {
  position: relative;
  width: 100%;
  margin-bottom: -2rem;
}

.mobile_home_search_section {
  background-color: #fff;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  position: absolute;
  width: 92%;
  bottom: -15%;
}

.mobile_home_sports {
  background-color: #fffaf7;
  border-radius: 25px;
  padding: 8px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* .mobile_home_sports::-webkit-scrollbar {
  height: 0rem;
} */

.mobile_home_sports::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.mobile_home_sports ul {
  list-style: none;
  padding: 0.8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0;
}

.mobile_home_sports ul li {
  color: #505050;
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-right: 2rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.2rem;
  width: 10rem;
}

.mobile_home_sports ul li img {
  margin-left: 0.3rem;
}

.mobile_home_sport_active {
  border-radius: 3.5rem;
  background: #fe5c4d;
  padding: 0.5rem 1.2rem;
  color: white !important;
}

/* animated text css  */

h6.animated-text {
  background-image: linear-gradient(90deg, #f7e1de, rgb(255 112 97));
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
  font-size: 50px;
  line-height: 30px;
}

.text-container {
  position: relative;
}

.animate-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5%;
}

#player_count {
  margin-top: 3rem;
}
/* animated text css ends */

/* home top section ends */

/* footer css starts  */

.fb_footer {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fb_footer_first {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 25%;
  margin-right: 3rem;
  min-width: 14rem;
  margin-bottom: 2rem;
}

.fb_footer_first span,
.fb_footer_first img {
  margin-bottom: 2rem;
  color: #505050;
}

.fb_insta {
  margin-right: 0.5rem;
}

.fb_footer_two {
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.fb_footer_two span {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.fb_links ul {
  list-style: none;
  margin-top: 1.5rem;
  margin-left: -2rem;
}

.fb_links ul li {
  margin-bottom: 1.2rem;
  color: #505050;
  cursor: pointer;
  font-size: 0.875rem;
}

.fb_links ul li a {
  color: #505050;
  text-decoration: none;
}

.fb_links ul li a:hover {
  color: #fe5c4d;
  transition: all 0.5s ease-in-out;
}

.fb_footer_add {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.fb_footer_add {
  margin-top: 1.5rem;
}

.fb_footer_add span {
  color: #505050;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5625rem;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
}

.fb_mail {
  font-weight: 600;
  text-transform: lowercase;
  font-size: 0.875rem;
  cursor: pointer;
}

.fb_mail:hover {
  color: #fe5c4d;
  transition: all 0.5s ease-in-out;
}

.fb_mail_flex {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
}

.fb_mail_flex img {
  margin-right: 0.5rem;
}
.fb_footer_bottom {
  width: 100%;
  text-align: center;
  padding: 0.8rem;
  color: #fff !important;
  margin-top: 1rem;
  background-color: #fe5c4d;
}

.fb_unlock {
  line-height: 1.5625rem;
}

/* footer css ends */

/* create train monetize section  */

.home_dsk_create_section {
  background-color: #fffaf7;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

.home_create_section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mobile_home_across_india {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile_home_across_india p {
  color: #282020;
  text-align: center;
  font-family: DM Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  padding-top: 5rem;
  width: 60%;
}

.mobile_home_across_india p span {
  color: #fe5c4d;
  font-family: DM Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.mobile_home_across_india button {
  border-radius: 0.3125rem;
  background: #fe5c4d;
  padding: 0.6rem 0.9rem;
  color: #fff;
  outline: none;
  border: none;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mobile_home_create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  border-radius: 1.25rem;
  background: #fee4e8;
  width: 25rem;
}

.mobile_home_create img {
  height: 234px;
  width: 234px;
}

.mobile_home_create_text {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 25rem;
}

.mobile_home_create_text span:first-child {
  color: #222;
  font-family: DM Sans;
  font-size: 2rem;
  font-weight: 900;
  padding: 0.3rem 1.2rem;
  font-weight: 600;
}

.mobile_home_create_text span:nth-child(2) {
  border-radius: 4.375rem;
  background: #ffc2cb;
  padding: 0.3rem 1.2rem;
  font-size: 1.5rem;
  margin-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.mobile_home_create_text span:last-child {
  color: #505050;
  text-align: justify;
  font-family: DM Sans;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.6rem;
}

.mobile_home_train {
  background-color: #d4baff !important;
}

.mobile_home_line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_home_monetize {
  background-color: #ffeca5 !important;
}

.dsk_create_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 60%;
  margin: 0 auto;
  gap: 3rem;
}
/* create train monetize section ends */

/* lets play section  */

.lets_play {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.mobile_home_curve_arrow {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 1.5rem;
}

.mobile_home_curve_arrow img {
  width: 3rem;
  height: 1.3rem;
  flex-shrink: 0;
}

.mobile_home_curve_arrow span {
  color: #222;
  font-family: DM Sans;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 0.3rem;
}

.mobile_home_fb_player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_home_diffrent_player img {
  border-radius: 0.625rem;
  margin-left: 4%;
  margin-top: 1rem;
}

.mobile_home_fb_logo {
  margin-top: 1rem;
}

.mobile_home_fb_logo img {
  margin-left: 1rem;
  height: 5rem;
  width: 5rem;
}

.mobile_home_fb_heading {
  display: flex;
  justify-content: start;
  align-items: center;
}

.mobile_home_fb_heading span {
  color: #222;
  font-family: DM Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  margin-right: 0.3rem;
  margin-left: 1rem;
  margin-top: -1rem;
}

.mobile_home_fb_para {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mobile_home_fb_para span {
  color: #505050;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  margin-top: 1rem;
  text-align: justify;
  min-height: 12rem;
}

/* caraousel css  */

.carousel-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel_flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #ffebe9;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.dot.active {
  background-color: #fe5c4d;
}

/* caraousel css ends */
/* lets play section ends */

/* our mission section  */

.mobile_home_mission_section {
  background-image: url("../images/mission_bg.webp");
  width: 100%;
  height: 48rem;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
}

.mobile_mission_para {
  padding: 1rem;
  /* border-radius: 0.625rem; */
  background: #fe5c4d;
  color: #fff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: justify;
  font-size: 0.8rem;
  position: relative;
}

.dsk_elipse {
  position: absolute;
  top: 0;
  left: 0;
}

.mobile_home_learn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.mobile_home_learn p {
  color: #fff;
  font-family: DM Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
}

.mobile_home_learn button {
  border-radius: 0.3125rem;
  background: #fff;
  padding: 0.5rem 0.6rem;
  color: #fe5c4d;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
}

.mission_text {
  color: #fff;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
/* our mission section ends */

/* who its for section  */

.mobile_home_for_para {
  color: #282020;
  text-align: center;
  font-family: DM Sans;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.mobile_home_grp p {
  margin-top: 0.9rem;
  color: #222;
  font-family: DM Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.mobile_home_grp_img {
  width: 100%;
  border-radius: 0.625rem;
  background: #edf6f7;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_home_desc p {
  color: var(--Secondary, #505050);
  text-align: center;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 133.333% */
  letter-spacing: -0.02563rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.mobile_home_cards {
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  width: 25rem;
  height: 18rem;
}

.dsk_who_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

/* who its for section ends */

/* privacy section  */

.privacy {
  padding-left: 6rem;
  padding-right: 6rem;
}

.privacy_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.privacy_top span:first-child {
  font-size: 2.875rem;
  font-weight: 700;
  margin-top: 2rem;
  text-align: center;
}

.privacy_update {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
}

.privacy_info {
  margin-top: 5rem;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.privacy_policy {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.privacy_para {
  font-size: 1rem;
  color: #505050;
  margin-bottom: 1.88rem;
}

.privacy_table {
  border-radius: 0.625rem;
  border: 1px solid #dcdcdc;
  background: #f0f2f5;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem;
}

.privacy_content {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}
.privacy_content_2 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.privacy_list ol {
  padding-left: 1.25rem;
  font-size: 1rem;
}
.privacy_list ol li a {
  color: var(--Primary, #222);
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02563rem;
}

.privacy_list ol li {
  margin-bottom: 1rem;
}

.privacy_list ol li:last-child {
  margin-bottom: -1rem;
}

.privacy_main {
  margin-top: 3rem;
}

.para_margin {
  margin-bottom: 0;
}

/* privacy section ends */

/* media query section  */

@media only screen and (max-width: 1320px) {
  .fb_feature_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1300px) {
  .city_div {
    right: 10%;
  }
}

@media only screen and (max-width: 1220px) {
  .fb_blue_flex_2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1050px) {
  .fb_footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .fb_register_section {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 1140px) {
  .city_div {
    right: 0%;
  }
}
@media only screen and (max-width: 1160px) {
  .fb_menu_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1090px) {
  .city_div {
    right: 0%;
    width: 51rem;
    overflow: scroll;
  }
}

@media only screen and (max-width: 936px) {
  .city_div {
    width: 41rem;
  }
}

@media only screen and (max-width: 950px) {
  .fb_blue_flex {
    flex-wrap: nowrap;
  }

  .fb_container,
  .fb_blue_container {
    padding: 1rem 2.25rem;
  }

  .fb_tour_section {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .fb_about_section {
    background: #edf6f7;
    padding: 1rem 2.25rem;
  }

  .fb_menu,
  .fb_feature_wrapper,
  .fb_register_section,
  .fb_recent_flex,
  .fb_blog_flex,
  .fb_tags_top,
  .fb_join_section,
  .fb_footer {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  .fb_feature_head {
    margin-left: 2.25rem;
  }

  .fb_view_all {
    margin-right: 2.25rem;
  }

  .sports_div {
    left: 10%;
  }
}
@media only screen and (max-width: 805px) {
  .fb_feature_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .fb_recent_flex {
    justify-content: center;
  }

  .dsk_create_flex {
    flex-direction: column-reverse;
  }

  .flex-train {
    flex-direction: column;
  }

  .mobile_home_create {
    width: 100%;
  }

  .mobile_home_create_text {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media only screen and (max-width: 705px) {
  .city_div {
    width: 31rem;
  }
}
@media only screen and (max-width: 890px) {
  .carousel_flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mobile_home_diffrent_player img {
    width: 15rem;
    height: 15rem;
  }
}
@media only screen and (max-width: 750px) {
  .fb_search_field {
    width: 50%;
  }
}

@media only screen and (max-width: 620px) {
  .fb_search_field {
    width: 40%;
  }
}

@media only screen and (max-width: 570px) {
  .city_div {
    right: -20%;
  }

  .fb_menu_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 452px) {
  .city_div {
    left: 0;
  }
}
@media only screen and (max-width: 536px) {
  .city_div {
    width: 21rem;
    right: 0%;
  }
}
@media only screen and (max-width: 665px) {
  .fb_footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 520px) {
  .fb_footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .fb_container,
  .fb_blue_container {
    padding: 1rem;
  }

  .fb_tour_section {
    padding-left: 1rem;
    padding-right: 1rem;

    .fb_about_section {
      background: #edf6f7;
      padding: 1rem 1rem;
    }
  }

  .fb_menu,
  .fb_feature_wrapper,
  .fb_register_section,
  .fb_recent_flex,
  .fb_blog_flex,
  .fb_tags_top,
  .fb_join_section,
  .fb_footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .fb_feature_head {
    margin-left: 1rem;
  }

  .fb_view_all {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 1286px) {
  .mobile_home_search_section {
    bottom: -20%;
  }
}
@media only screen and (max-width: 1030px) {
  .mobile_home_search_section {
    bottom: -30%;
  }

  .mobile_home_across_india {
    margin-top: 3rem;
  }

  h6.animated-text {
    font-size: 40px;
  }

  .mobile_home_top {
    font-size: 16px;
  }
}
@media only screen and (max-width: 850px) {
  .mobile_home_search_section {
    bottom: -40%;
  }

  .mobile_home_across_india {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 770px) {
  .mobile_home_across_india {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 760px) {
  .mobile_home_search_section {
    bottom: -50%;
  }

  h6.animated-text {
    font-size: 25px;
  }

  .mobile_home_top {
    font-size: 14px;
    margin-top: 2rem;
  }

  .privacy {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 622px) {
  .mobile_home_search_section {
    bottom: -70%;
  }
  .mobile_home_across_india {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .mobile_home_search_section {
    bottom: -80%;
  }
}
@media only screen and (max-width: 650px) {
  .fb_feature_head {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 570px) {
  .fb_blue_flex {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }

  .fb_nav_ul {
    margin-left: -3rem;
    margin-top: 0.5rem;
  }

  .fb_feature_head {
    font-size: 1.2rem;
  }

  .privacy {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 490px) {
  .sports_div {
    left: 0%;
  }
}

@media only screen and (max-width: 465px) {
  .fb_feature_head {
    font-size: 1rem;
  }
}

/* media query section ends */
